<html>
<head>
	<link rel="stylesheet" href="website_design.css">
	<title>Home</title>
</head>
<body>
    <div class="header">
        <a href="website.html"><h4>Back<h4></a>
        <h1>Current Session</h1>
    </div>
    <div class="sesh_type">
        <button type="button">Timer</button>
        <button type="button">Stopwatch</button>
    </div>
    <div class="container">

        <div class="display">
            00:00:00
        </div>

        <div class="buttons">
            <button id="pause">Pause</button> <button id="end">End</button>
        </div>

    </div>
</body>
</html>
