<html>
<head>
    <!---<link href = "./public/css/website_design.css" rel="stylesheet"> --->
    
	<link rel="stylesheet" href="login.css"> 

	<title>Home</title>
</head>
<body>
    <div>
        </div>
        <div class="header">
            <a href="sessionsummary.html"><h4>Back<h4></a> 
             <h1> Insights</h1>
            </div>
        <div class="body">
           
            <!--<h3> &nbsp </h3>  -->
            <h2> Main Distractors </h2>
            <h4> <ul>
              <li>Instagram</li>
              <li>Facebook</li>
              <li>iMessage</li>
              <li>Youtube</li>
              <li>Flappy Bird</li>
            </ul></h4>
        </div>
            <h2>Advice</h2>
             <h4> <li>Lorem ipsum dolor sit amet,  elit, sed do eiusmod tempor incididunt ut labore et dolore </li>
              <li>Lorem ipsum dolor sit amet,  elit, sed do eiusmod tempor incididunt ut labore </li>
              <li>Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore </li>
              <li>Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore</li>
             </h4>
            
        </div>
        <div class="home-button">
            <button type="button" class="start"><a href="currentsession.html">Return Home</a></button>
        </div>
    </div>
</body>
</html>