<html>
<head>
    <!---<link href = "./public/css/website_design.css" rel="stylesheet"> --->
    
	<link rel="stylesheet" href="login.css"> 

	<title>Home</title>
</head>
<body>
    <div>
         <div class="circle"></div>
         <div class="logo">
            <h1> Logo</h1>
        </div>

        <div class="username">
            <h5>Username
            	******** </h5> 
            <div class="line"></div> 
         </div>
         	
          <div class="password">
         	<h6>Password
         		******** </h6>
         	<div class="line2"></div>
         	</div>
         <div class="su-button">
            <button type="button" class="start"><a href="currentsession.html">Sign Up</a></button>
        </div>

    </div>
</body>
</html>