<html>
<head>
    <!---<link href = "./public/css/website_design.css" rel="stylesheet"> --->
    
	<link rel="stylesheet" href="website_design.css"> 

	<title>Past Session Overview</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="website.html"><h4>Back</h4></a>
            <h1> 02/02/2021</h1>
        </div>
        <div class="img">
            <img class="graph2" src="./graphics/pie_chart.png" alt="pie chart">
        </div>
        <div class = "sessions">
            <h2>Sessions</h2>
            <div class="session-buttons">
                <a href="pastsessiondetails.html"><h3>Session 1</h3></a>
            </div>
            <div class="session-buttons">
                <a href="pastsessiondetails.html"><h3>Session 2</h3></a>
            </div>
            <div class="session-buttons">
                <a href="pastsessiondetails.html"><h3>Session 3</h3></a>
            </div>
        </div>
    </div>
</body>
</html>