<html>
<head>
    <!---<link href = "./public/css/website_design.css" rel="stylesheet"> --->
    
	<link rel="stylesheet" href="website_design.css"> 

	<title>Session 1 Details</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="pastsessionoverview.html"><h4>Back</h4></a>
            <h1> Session 1</h1>
        </div>
        <div class="img">
            <img class="graph2" src="./graphics/session_summary_graph.png" alt="bar chart">
        </div>
        <div class = "timeline">
            <h2>Timeline</h2>
            <div class="timeline">
                <img src="graphics/Timeline.png" alt="timeline">
            </div>
        </div>
    </div>
</body>
</html>