<html>
<head>
    <!---<link href = "./public/css/website_design.css" rel="stylesheet"> --->
    
	<link rel="stylesheet" href="website_design.css"> 

	<title>Reflection</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="currentsession.html"><h4>Back</h4></a>
            <h1> Reflection</h1>
        </div>
        <div class="question_form">
            <h4> What did you accomplish in your session?</h4>
            <textarea name="textbox" rows="16" cols="100">
            </textarea>
        </div>
        <div class="question_form">
            <h4> What was distracting in this session?</h4>
            <textarea name="textbox" rows="16" cols="100">
            </textarea>
        </div>
        <div class="slider">
            <h4> Rate your productivity</h4>
            <input type="range" min="0" max="5" value="1">
        </div>

        <div class="big-button">
            <button type="button" class="submit"><a href="sessionsummary.html">Next</a></button>
        </div>
    </div>
</body>
</html>