<html>
<head>    
	<link rel="stylesheet" href="./website_design.css"> 

	<title>Session Summary</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="reflection.html"><h4>Back</h4></a>
            <h2>Weekly Summary</h2>
        </div>
        <div class="img">
            <img class="graph2" src= "./graphics/session_summary_graph.png" alt = "summary_graph">
        </div>
        <div class="insights">
            <h3>Insights</h3>
            <div class="card">
                <h4> You received 28 iMessage notifications. Muting this application can help minimize distractions!</h4>
                <a href="./Insights.html"><h4>See More</h4></a>
            </div>
        </div>
        <div class="socials">
            <h3>Most Used Apps</h3>
            <div class="img">
                <img class="social-icon" src="./graphics/iMessage App.png" alt="iMessage">
            </div>
            <div class="socials-time">
                <h4> 24 minutes</h4>
            </div>
            <div class="img">
                <img class="social-icon" src="./graphics/Instagram App.png" alt="Instagram">
            </div>
            <div class="socials-time">
                <h4> 19 minutes</h4>
            </div>
        </div>

        <div class="big-button">
            <button type="button" class="submit"><a href="website.html">Exit Session</a></button>
        </div>
    </div>
</body>
</html>