<html>
<head>
	<link rel="stylesheet" href="website_design.css">
	<title>Home</title>
</head>
<body>
    <div>
        <div class="header">
            <h1> Home</h1>
            <h3> Hi Karen! </h3>
            <h4> Today is Tuesday, February 15, 2021</h4>
        </div>
        <div class="big-button">
            <button type="button">Start Session</button>
        </div>
        <div class="graph">
            <h1>Weekly Summary</h1>
            <img src= " " alt = "graph">
        </div>
    </div>
</body>
</html>