<html>
<head>
    <!---<link href = "./public/css/website_design.css" rel="stylesheet"> --->
    
	<link rel="stylesheet" href="website_design.css"> 

	<title>Home</title>
</head>
<body>
    <div>
        <div class="header">
            <h1> Home</h1>
            <h3> Hi Karen! </h3>
            <h4> Today is Tuesday, February 15, 2021</h4>
        </div>
        <div class="big-button">
            <button type="button" class="start"><a href="currentsession.html">Start Session</a></button>
        </div>
        <div class="graph">
            <h2>Weekly Summary</h2>
            <div class="img">
                <img class="graph2" src= "graph.png" alt = "graph">
            </div>
        </div>
        <div class= "socials">
            <h2>Most Used Apps</h2>
            <img class="graph2" src = "socials.png" alt = "socials"> 
        </div>
    </div>
</body>
</html>